.choose_headtitle {
  width: 300px;
  height: 45px;
  font-family: Inter;
  font-size: 36px;
  font-weight: 700;
  line-height: 45px;
  letter-spacing: 0.30000001192092896px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}
.choose_container {
  width: 25%;
  height: 80px;
  display: flex;
  justify-content: flex-start;
  gap: 16px;
  align-items: center;
  border-bottom: 0.6px solid rgba(238, 231, 231, 0.8);
  border-right: 0.6px solid rgba(238, 231, 231, 0.8);
  transform: translate(0rem, 0rem);
  padding-left:12px;
}
.choose_container:hover {
  transform: translate(0.5rem, -0.5rem);
  transition: transform 0.3s ease-in-out;
  background-color: rgb(255, 255, 255);
  border-radius: 8px;
}
.choose_display {
  display: flex;
  flex-wrap:wrap;
}
.choose_img {
  height: 20px;
  width: 20px;
}
.choose_container h4 {
  font-family: Inter;
  font-size: 20px;
  font-weight: 400;
}

.choose_main {
  padding: 30px 0 30px;
}
@media (min-width: 900px) {
  .choose_container:hover::after {
      content: "One liner details about the feature";
      position: absolute;
      top: 3.3rem;
      left: 3rem;
      color: rgb(38, 50, 56);
      font-size: 12px;
      font-weight: 500;
      z-index: 1;
      transition: opacity 0.3s ease-in-out;
      opacity: 0.7;
  }
}
@media screen and (max-width: 1100px) {
  .choose_container h4 {
      width: 100%;
      margin: 0;
      font-size: 17px;
      margin-top: 10px;
  }
  .choose_container {
    width: 33%;
    gap: 10;
  
    margin-bottom:0px;

    padding: 20px 2px 20px 12px;
    height: auto;
  }

  .choose_display {
    flex-wrap: wrap;
  }
  .choose_headtitle {
    font-size: 28px;
  }
}



/* For Mobile Devices (480px - 768px) */
@media screen and (max-width: 768px) {
  .choose_container h4 {
      width: 100%;
      margin: 0;
      font-size: 17px;
      margin-top: 10px;
  }
  .choose_container {
    width: 49%;
    flex-wrap: wrap;
    gap: 0;
    text-align: center;
    justify-content: center;
    margin-bottom: 20px;
    box-shadow: 0px 3px 8px -4px rgb(0 0 0 / 46%);
    padding: 20px 2px 20px;
    height: auto;
  }

  .choose_display {
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .choose_headtitle {
    font-size: 28px;
  }
}
